/* ------------------------------- Estilo del nav ---------------------------- */

header{
    grid-area:header;
    top: 0px;
    margin: 0px $separacion;
    div{
        @include display_format2;
    }
}